.paper {
    background-color: antiquewhite;
    width: 250px;
}

.submitbutton {
    background-color: aqua;
}

.background {
    background-color: darkgrey;
}

.deletebutton {
    background-color: red;
}

.updatebutton {
    background-color: chartreuse;
}